<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Today's Tech Blog</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1> Today's Tech Blog</h1>
      <nav>
       <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>

        {{#if logged_in}}
            <li><a href="/">Logout</a></li>
    
        {{else}}
            <li><a href="/login">Login</a></li>
           
        {{/if}}
        </ul>
      </nav>
    </header>
    
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
