<div class="col-md-6 mx-auto new-post-div">
    <h2>Create New Post:</h2>
    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>

      <div class="form-group">
        <label for="post-body">Content:</label>
        <textarea class="form-input" id="post-body" name="post-body"></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary create-btn">+ Create New Post</button>
      </div>
    </form>
</div>


<!-- Loop over each object in the posts -->

{{#if posts.length}}

<div class="col-md-12 current-post-div text-center">
    <h2>Current Posts:</h2>
   <br>

{{#each posts as |post|}}
    <div class="row justify-content-center current-post">
      <div class="col-sml-8 pr-3">
        <h3>
          <a href="/post/{{post.id}}">{{post.title}}</a>
        </h3>
        <br>
      </div>

      {{!-- <div class="col-sml-8">
        <br> --}}
        <a href="/post/{{post.id}}/update">
          <button class="btn btn-primary updateBtn" data-id="{{post.id}}">Edit</button>
        </a>
      {{!-- </div> --}}
    </div>
{{/each}}{{/if}}


<div class="add-post">
  <button type="submit" class="btn btn-primary create-post-btn">+ Create Post</button>
</div>
</div>

<script src="/js/new_post.js"></script> 