
{{!-- 
Update post form --}}
      <div class="col-md-6 hide update-post-form">
    <h3>Update Post:</h3>
    <form class="form update-post-form">
      <div class="form-group">
        <label for="post-name">Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-body">Content:</label>
        <textarea class="form-input" id="post-body" name="post-body"></textarea>
      </div> 
      <div class="form-group">
        <button type="submit" class="btn btn-primary updateBtn" data-id="{{id}}">Update Post</button>

    <button class="btn btn-sm btn-danger deleteBtn" data-id="{{id}}">DELETE</button>
   
      </div>
    </form>
</div>

<script src="/js/update_post.js"></script> 
