* {
  font-family: "Poppins", serif;
}

body {
  font-size: 20px;
  color: #373794;
  background-color: #f8fbf8;
}
h1 {
  margin: 10px;
}

header {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #373794;
}

footer {
  font-size: 12px;
  text-align: center;
  color: rgb(96, 96, 96);
}

a:hover {
  color: rgb(24, 167, 233);
}

ul {
  list-style-type: none;
}

.new-post-div {
  display: none;
}

.container {
  margin: 20px;
}

.commenter-info,
.post-meta {
  color: rgb(96, 96, 96);
}

.comment-description {
font-size: 18px;
}

#nav-bar {
  border-bottom: 3px rgb(19, 84, 214) solid;
}

#nav-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: 0;
}

#nav-links li {
  margin: 5px 40px;
  padding: 0;
}

/* Input fields */
#email-login,
#password-login,
#name-signup,
#email-signup,
#password-signup,
#post-title,
#comment-body,
textarea {
  width: 100%;
}
